---
layout: default
title: "Home"
description: ""
---

<ul class="home-list">
    <li class="home-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="/about" title="about">
        <h5>
          About Me
        </h5>
      </a>
    </li>
    <li class="home-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="/resume" title="resume">
        <h5>
          Resume
        </h5>
      </a>
    </li>
    <li class="home-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="/projects" title="projects">
        <h5>
          Projects
        </h5>
      </a>
    </li>
    <li class="home-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="/blog" title="blog">
        <h5>
          Blog
        </h5>
      </a>
    </li>
</ul>